* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #F6F1D0;
  background: #F6F1D0;
}

header {
  background: #92DFBF; 
  color: #F6F1D0; 
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Press Start 2P', 'Arial Black', Arial, sans-serif;
}

header h1 {
  font-family: 'Arial Black', 'Impact', 'Press Start 2P', Arial, sans-serif;
  font-size: 1.3rem;
  color: #F6F1D0;
  padding: 0.5rem 1.5rem;
  border: 1px solid #F6F1D0; 
  border-radius: 6px;
  margin: 0 2rem 0 0;
  letter-spacing: 2px;
  text-shadow: 1px 0 #F6F1D0, -1px 0 #F6F1D0, 0 1px #F6F1D0, 0 -1px #F6F1D0;
}

header nav a {
  display: flex;
  align-items: center;
  color: #F6F1D0;
  text-shadow: 1px 0 #F6F1D0, -1px 0 #F6F1D0, 0 1px #F6F1D0, 0 -1px #F6F1D0;
  font-family: 'Press Start 2P', 'Arial Black', Arial, sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  margin-left: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  transition: color 0.2s;
}

nav.tabs ul {
  display: flex;
  list-style: none;
}

nav.tabs {
  position: relative;
}
nav.tabs::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  bottom: 0px;
  width: 150vw; 
  height: 2px;
  background: #F6F1D0;
}

nav.tabs a {
  margin-right: 0.5rem;
  display: block;
  padding: 0.8rem 0.5rem;
  font-size: 1rem; 
  transition: background 0.2s;
}