

body {
 background-color: white;
 background-image: url(CREATIVE\ CLASSROOM\ BG.png);
 background-size: cover;
background-position: center;
line-height: 1.9;
height: 10vh;
margin:0;
font-family: "Pixelify Sans", sans-serif;
color:blueviolet;
text-align: center;
padding-top: 30px;;
}

h1{
  font-size: 5vw;
}
p{
  font: size 6vw;
}
p{
  word-spacing: 10px;
}